pipeline/BronzeLayer.json
{
	"name": "BronzeLayer",
	"properties": {
		"activities": [
			{
				"name": "Delta lookup table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from lookup",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "deltatraget_table",
						"type": "DatasetReference",
						"parameters": {
							"tartbl": "lookup"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delta lookup table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Delta lookup table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delta Flag validator",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().deltaflag,true)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Full load Copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().sourceTable}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = '@{item().targettable}' and TABLE_SCHEMA = '@{item().targetschema}')\n    TRUNCATE table @{item().targettable};",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DynamicSourceOnprem",
												"type": "DatasetReference",
												"parameters": {
													"SrcSchema": {
														"value": "@item().sourceSchema",
														"type": "Expression"
													},
													"SrcTable": {
														"value": "@item().sourceTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DynamicTargetTableOnAzSql",
												"type": "DatasetReference",
												"parameters": {
													"TarSchema": "@item().TargetSchema",
													"TarTable": "@item().TargetTable"
												}
											}
										]
									},
									{
										"name": "Update last update for full load",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Full load Copy",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_updateLoadDate]",
											"storedProcedureParameters": {
												"TargetSchema": {
													"value": {
														"value": "@item().targetschema",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTable": {
													"value": {
														"value": "@item().targettable",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "satyamDB2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "error log full load",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Full load Copy",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_logPipelineExecutionDetails]",
											"storedProcedureParameters": {
												"DataFactoryName": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"execstatus": {
													"value": {
														"value": "@activity('Full load Copy').output.executionDetails[0].status ",
														"type": "Expression"
													},
													"type": "String"
												},
												"failedfile": {
													"value": {
														"value": "@sub(activity('Full load Copy').output.dataWritten,activity('Full load Copy').output.dataRead)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineTriggerName": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineTriggerTime": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"totalfileRead": {
													"value": {
														"value": "@activity('Full load Copy').output.filesread",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "satyamDB2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "trigger mail for",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Full load Copy",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://prod-54.eastus.logic.azure.com:443/workflows/3d34f20a455b468c90d316a0c8700c82/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=83txJxGBkhoEx9imHBR2DnH2g_BSdxnRnN82XvF7dSA",
											"method": "POST",
											"headers": {
												"Content-Type": {
													"value": "application/json",
													"type": "Expression"
												}
											},
											"body": {
												"value": "{\n\"Pipeline\": \"@{pipeline().Pipeline}\",\n\"ErrorMessage\": \"@{activity('Full load Copy').Error.Message}\",\n\"DataFactoryName\": \"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().RunId}\"\n\n}",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data Source to Stage",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from satyam",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": true,
											"stagingSettings": {
												"linkedServiceName": {
													"referenceName": "ADLS",
													"type": "LinkedServiceReference"
												},
												"path": "newstagingfordelta"
											},
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DynamicSourceOnprem",
												"type": "DatasetReference",
												"parameters": {
													"SrcSchema": {
														"value": "@item().sourceSchema",
														"type": "Expression"
													},
													"SrcTable": "@item().sourceTable"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DynamicTargetTableOnAzSql",
												"type": "DatasetReference",
												"parameters": {
													"TarSchema": {
														"value": "@item().targetschema",
														"type": "Expression"
													},
													"TarTable": {
														"value": "@item().targettable",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "update last load date",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data Source to Stage",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_updateLoadDate]",
											"storedProcedureParameters": {
												"TargetSchema": {
													"value": {
														"value": "@item().targetschema",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTable": {
													"value": {
														"value": "@item().targettable",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "satyamDB2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "error log",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data Source to Stage",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_logPipelineExecutionDetails]",
											"storedProcedureParameters": {
												"DataFactoryName": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"execstatus": {
													"value": {
														"value": "@activity('Copy data Source to Stage').output.executionDetails[0].status ",
														"type": "Expression"
													},
													"type": "String"
												},
												"failedfile": {
													"value": {
														"value": "@sub(activity('Copy data Source to Stage').output.dataWritten,activity('Copy data Source to Stage').output.dataRead)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineTriggerName": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineTriggerTime": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"totalfileRead": {
													"value": {
														"value": "@activity('Copy data Source to Stage').output.filesread",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "satyamDB2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "trigger mail for deltaload",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Copy data Source to Stage",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://prod-54.eastus.logic.azure.com:443/workflows/3d34f20a455b468c90d316a0c8700c82/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=83txJxGBkhoEx9imHBR2DnH2g_BSdxnRnN82XvF7dSA",
											"method": "POST",
											"headers": {
												"Content-Type": {
													"value": "application/json",
													"type": "Expression"
												}
											},
											"body": {
												"value": "{\n\"Pipeline\": \"@{pipeline().Pipeline}\",\n\"ErrorMessage\": \"@{activity('Copy data Source to Stage').Error.Message}\",\n\"DataFactoryName\": \"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().RunId}\"\n\n}",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ingest layer"
		},
		"annotations": []
	}
}